body{
    background: rgb(76, 104, 231);
    font-family: ubuntu;
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}



ul{
    list-style-type: none;
    padding: 0;
}

li:not(.homeBtn){
    padding: 50px;
    background: #f6f6f6;
    font-size: 20px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: relative;
}

li:nth-child(even){
    padding: 50px;
    background: #f2f2f2;
}

li span{
    display:block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

label {
    margin-right: 15px;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid rgb(236, 231, 231);
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #e7d912;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}

button{
    border: 0;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border-color: black;
    padding: 8px;
    width: 10%;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    font-family: ubuntu;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
}